/* dropcap*/
.dropcap {
    position: relative;
    display: inline-block;
    float: left;
    min-width: 50px;
    height: 50px;
    line-height: 48px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 5px 20px 0 0;
    padding: 0 12px;
    border: 1px solid transparent;
    color: #fff;
    background: #999;
    text-transform: uppercase;
}

/* highlight*/
.highlight{
    color: #FA5C5D;
}

/* heading*/
.heading h2{
    text-align:center;
    margin-bottom:30px;
    display:inline-block;
}

.heading{
    text-align:center;
}

.heading.title-1 h2:after {
    border-top: 1px solid #bbb;
    display: block;
    content: '\f0d7';
    font-family: 'FontAwesome';
    text-align: center;
    font-size: 20px;
    width: 100px;
    line-height: 5px;
    margin: 30px auto 0 auto;
    opacity: 0.3;
    color: #888;

}

.heading.title-2 h2:after {
    border-top: 1px solid #bbb;
    display: block;
    content: '\f0d9\f0da';
    font-family: 'FontAwesome';
    text-align: center;
    font-size: 20px;
    letter-spacing: -1px;
    width: 100px;
    line-height: 0;
    margin: 30px auto 0 auto;
    opacity: 0.3;
    color: #888;

}

.heading.title-3 h2:after {
    border-top: 1px solid #fa5c5d;
    display: block;
    content: '\f0c8';
    font-family: 'FontAwesome';
    text-align: center;
    font-size: 7px;
    width: 80px;
    line-height: 0px;
    margin: 30px auto 0 auto;
    opacity: 0.8;
    color: #FA5C5D;
}

.heading.title-4 h2 {
    font-weight:300; 
}

.heading.title-4 h2:after {
    border-top: 1px solid #CDCDCD;
    display: block;
    content: '\f068';
    font-family: 'FontAwesome';
    text-align: center;
    width: 100px;
    margin: 30px auto 0 auto;
    opacity: 0.8;
    font-size: 16px;
    line-height: 2px;
    color: #fa5c5d;

}

.heading.title-5 h2:after {
    border-top: 1px solid #fa5c5d;
    display: block;
    content: '';
    text-align: center;
    width: 80px;
    line-height: 0px;
    margin: 30px auto 0 auto;
    opacity: 0.8;
}

.heading.title-6 h2:after {
    display: block;
    font-family: 'FontAwesome';
    content: '\f111 \f111 \f111';
    text-align: center;
    width: 80px;
    line-height: 0px;
    margin: 30px auto 0 auto;
    opacity: 0.8;
    font-size: 5px;
    letter-spacing: 5px;
}

.heading.title-7 h2:after {
    border-top: 1px solid #CDCDCD;
    display: block;
    font-family: 'FontAwesome';
    content: '\f067';
    text-align: center;
    width: 100px;
    line-height: 1px;
    margin: 30px auto 0 auto;
    opacity: 0.8;
    font-size: 12px;
    color: #fa5c5d;

}

.heading.title-8,
.heading.title-9,
.heading.title-10  {
    text-align:left;   
}

.heading.title-8 h2:after {
    border-top: 3px solid #FA5C5D;
    display: block;
    content: '';
    width: 40px;
    line-height: 0px;
    margin: 10px 0 0;
    opacity: 0.8;
}

.heading.title-9 h2:before {
    border-left: 5px solid #FA5C5D;
    content: '';
    display: inline-block;
    height: 35px;
    padding-right: 10px;
}

.heading.title-10 h2 {
    font-weight: 300;
}

.heading.title-10 h2:after {
    content: '';
    width: 100%;
    border-top: 1px solid #FA5C5D;
    display: block;
    margin-top: 10px;
}

.alt-color .heading.title-1 h2:after,
.alt-color .heading.title-2 h2:after  {
    color:#fff!important;
    border-top-color:#fff;
}

.alt-color .heading.title-4 h2:after,
.alt-color .heading.title-7 h2:after {
    border-top-color:#fff;
}

.alt-color .heading.title-6 h2:after {
    color:rgba(255, 255, 255, 0.60)!important;
}

/* Sub Title*/
.sub-title {
    display:block;
    margin-bottom: 30px;
    font-style: italic;
}

.text-left{
    text-align:left;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}